@model IdentitySample.Models.IndexViewModel
@{
    ViewBag.Title = "Quản lý tài khoản";
}

<h2>@ViewBag.Title</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-md-8">
        <p>
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Thay đổi mật khẩu", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Mật khẩu mới", "SetPassword")
            }
        </p>
        <p>
            Số điện thoại liên hệ: @(Model.PhoneNumber ?? "Không") [
            @if (Model.PhoneNumber != null)
            {
                @Html.ActionLink("Thay đổi số điện thoại", "AddPhoneNumber")
                @: &nbsp;|&nbsp;
                @Html.ActionLink("Xóa số điện thoại", "RemovePhoneNumber")
            }
            else
            {
                @Html.ActionLink("Thêm số điện thoại mới", "AddPhoneNumber")
            }
            ]
        </p>
        <p>
            Đăng nhập bên thứ 3 (tất nhiên không có) @Model.Logins.Count
            @Html.ActionLink("[Quản lý]", "ManageLogins")
        </p>
        @if (Model.TwoFactor)
        {
            <form method="post" action="/Manage/DisableTFA">
                <p>
                    Xác minh hai bước được bật
                    <input type="submit" value="Hủy kích hoạt" class="btn btn-default"/>
                </p>
            </form>
        }
        else
        {
            <form method="post" action="/Manage/EnableTFA">
                <p>
                    Xác minh 2 bước không được bật
                    <input type="submit" value="Bật" class="btn btn-default"/>
                </p>
            </form>
        }
        @if (Model.BrowserRemembered)
        {
            <form method="post" action="/Manage/ForgetBrowser">
                <p>
                    Trình duyệt đã nhớ xác minh 
                    <input type="submit" value="Hủy nhớ" class="btn btn-default" />
                </p>
            </form>
        }
        else
        {
            <form method="post" action="/Manage/RememberBrowser">
                <p>
                    Trình duyệt không nhớ xác minh
                    <input type="submit" value="Hãy nhớ" class="btn btn-default"/>
                </p>
            </form>
        }
    </div>
</div>
